<div class="row p-4 m-0 justify-content-around" style="background-color: #52525240; box-shadow: 0px 2px 5px 1px #02020248;">
  <div class="col-xxl-2 col-xl-3">
    <h2 routerLink="/reactive"><i class="fa-regular fa-pen-line"></i> Formulários</h2>
  </div>
  <div class="col-xxl-10 col-xl-8">
    <div class="row justify-content-end mx-0 p-0">
      <div class="col-xxl-1 col-xl-2 mx-4">
        <button class="btn btn-secondary" routerLink="/template" routerLinkActive="active-link"> Template Driven</button>
      </div>
      <div class="col-xxl-1 col-xl-2 mx-4">
      <button class="btn btn-secondary" routerLink="/reactive" routerLinkActive="active-link"> Reactive Form </button>
      </div>
    </div>
  </div>
</div>


