<div class="row p-4 m-0" style="background-color: #52525240; box-shadow: 0px 2px 5px 1px #02020248;">
  <div class="col-xxl-2 col-xl-3">
    <h2 routerLink="/reactive"><i class="fa-regular fa-pen-line"></i> Formulários</h2>
  </div>
  <div class="col-10">
    <div class="row justify-content-end mx-4 p-0">
      <div class="col-xxl-1 col-xl-2 mx-4">
        <button class="btn btn-secondary" routerLink="/template" routerLinkActive="active-link"> Template Driven</button>
      </div>
      <div class="col-xxl-1 col-xl-2 mx-4">
      <button class="btn btn-secondary" routerLink="/reactive" routerLinkActive="active-link"> Reactive Form </button>
      </div>
    </div>
  </div>
</div>

<div class="row px-2  m-0 scale-in-center" [hidden]="!help" >
  <div class="col-2 py-3 my-5" style="background-color: #b6acac40; box-shadow: 2px 5px 5px 1px #02020248; height: auto; width: 15%; position:fixed; border-radius:0px 15px 15px 0px">
    <h5>Formulário Reativo</h5>
    <p>Diferente do formulário Template Driven, os formulários Reativos recebem atributos como o <strong>formControlName</strong>, no lugar das diretivas ngModel para fazer o binding entre o controle na tela e o objeto de formulário que você está usando. </p>
    <h6>Validações:</h6>
    <ul>
      <li>Required em todos os campos;</li>
      <li>Formatação de Email;</li>
      <li>Validar CPF (minLenght:11);</li>
      <li>Tratativa de erro;</li>
      <li>Maskara nos campos de telefone e CPF para limitar caracteres;</li>
      <li>Botão de envio desabilitado até validade do formulário;</li>
      <li>Display em tempo real do valor do formulário em JSON;</li>
    </ul>
  </div>

</div>

<button class="icon-btn shake-horizontal" (click)="help = !help"><i class="fa-solid fa-question fa-lg"></i></button>
