
.map-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.btn.btn-secondary {

  position: fixed;
  right: 25px;
  top: 110px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.521);
  width: 150px;

}
