<div class="row px-2  m-0 scale-in-center" [hidden]="!help" >
  <div class="col-2 py-3 my-5" style="background-color: #b6acac40; box-shadow: 2px 5px 5px 1px #02020248; height: auto; width: 15%; position:fixed; border-radius:0px 15px 15px 0px">
    <h5>Formulário Reativo</h5>
    <p>Diferente do formulário Template Driven, os formulários Reativos recebem atributos como o <strong>formControlName</strong>, no lugar das diretivas ngModel para fazer o binding entre o controle na tela e o objeto de formulário que você está usando. </p>
    <h6>Validações:</h6>
    <ul>
      <li>Required em todos os campos;</li>
      <li>Formatação de Email;</li>
      <li>Validar CPF (minLenght:11);</li>
      <li>Tratativa de erro;</li>
      <li>Maskara nos campos de telefone e CPF para limitar caracteres;</li>
      <li>Botão de envio desabilitado até validade do formulário;</li>
      <li>Display em tempo real do valor do formulário em JSON;</li>
    </ul>
  </div>

</div>

<button class="icon-btn shake-horizontal" (click)="help = !help"><i class="fa-solid fa-question fa-lg"></i></button>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 m-5 p-5 text-center scale-in-center" style="background-color: #F1F1F4; min-height: 550px; height: auto; align-items: center; border-radius: 20px;">
      <h2>Reactive Form</h2>

      <form [formGroup]="reactiveForm" [hidden]="success">
        <div class="form-group">
          <div style="display: flex; flex-direction: column">
            <label for="name" class="text-start">Nome Completo</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Digite seu nome completo">

          </div>

        </div>

        <div class="form-group">
          <div style="display: flex; flex-direction: column">
            <label for="email" class="text-start">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="example@example.com">
            <p  class="shake-horizontal invalid-input" *ngIf="email.touched && email.invalid"><strong>{{email.value}}</strong> não pode ser usado como email</p>
          </div>
        </div>

        <div class="form-group">
          <div style="display: flex; flex-direction: column">
            <label for="cpf" class="text-start">CPF</label>
            <input type="text" class="form-control" formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00">
            <p class="shake-horizontal invalid-input"  *ngIf="cpf.touched && cpf.invalid"><strong>{{cpf.value}}</strong> não é um CPF válido</p>
          </div>
        </div>

        <div class="form-group">
          <div style="display: flex; flex-direction: column">
            <label for="cpf" class="text-start">Telefone</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="(XX) XXXXX-XXXX" mask="(00) 0 0000-0000">
            <p class="shake-horizontal invalid-input"  *ngIf="phone.touched && phone.invalid">Preencha o telefone corretamente</p>
          </div>
        </div>

        <button class="btn btn-primary my-4 px-5" (click)="onSubmit()" [disabled]="reactiveForm.invalid" >Enviar!</button>

        <div *ngIf="!success">{{reactiveForm.value | json}}</div>

      </form>



      <div class="col text-center" [hidden]="!success">
        <h1 class="mt-5" routerLink="/reactive">Formulário enviado com sucesso!</h1>
        <img src="assets/email-sent.svg" alt="email-icon" width="250px" height="250px" >
      </div>

    </div>
  </div>
</div>
